.badge {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	border: 3px solid transparent;
	cursor: pointer;

}



.active{
	border: 3px solid #525252;
}