.addListForm{
	width: 500px;
	// height: 156px;
	z-index: 1;
	background-color: #ffffff;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 18px;
	box-sizing: border-box;
	position: relative;
	top: -35px;
	
	@media(max-width:768px){
		width: 90vw;
		top: -50px;
		padding: 10px;
	}


	&__closeSvg{
		width: 35px;
		height: 35px;
		position: absolute;
		right: -17px;
		top: -17px;
		cursor: pointer;
		fill: #828282;

		&:hover{
			fill: darken(#828282, 20%);
		}
	}
	

	&__colors {
		margin-bottom: 15px;
		height: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.active{
			border: 3px solid #525252;
		}

		.bigBadge{
			width: 25px;
			height: 25px;

			&:hover{
				width: 30px;
				height: 30px;
				transition: width 0.1s ease-in-out;
				transition: height 0.1s ease-in-out;

			}
		}
	}


} 

