.list {
	$self: &;
	
	padding-bottom:  47px;

	@media(max-width:768px){
		padding-bottom:  0px;
	}

	li {
		display: flex;
		align-items: center;
		padding: 6px 15px;
		cursor: pointer;
		margin-bottom: 10px;
		border-radius: 8px;
		line-height: 39px;
		transition: background-color 0.2s ease-in-out;

		@media(max-width:768px){
			margin-bottom: 0px;
			padding-left:0;
			padding-right:0;
		}

		&:hover #{$self}__remove{
			opacity: 0.3;
		}

		#{$self}__remove{
			width: 30px;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			
			&:hover{
				opacity: 0.7;
			}
		}

		span{
			flex: 1;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 160px;
			white-space: nowrap;
		}
		
		&:hover{
			background-color: rgba(255,255,255,0.5);
		}
	}


	i{
		display: inline-flex;
		margin-right: 12px;
		img{
			width: 30px;
			opacity: 0.6;
		}
	}
	

	&__badge{
		position: relative;
		left: 7px;
		top: 4px;
	}
}

.active {
	background-color: #ffffff;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
}

@media(max-width:768px){
	.active {
		background-color: rgba(255,255,255,0.5);
	}

	.list {
		$self: &;
		li.active {
			#{$self}__remove{
				opacity: 0.7;
			}
		}
	}	
	
}



