.list {
	margin-bottom:  30px;

	li {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		cursor: pointer;
		margin-bottom: 5px;
	}

	li:first-child{
		margin-bottom: 30px;
		font-size: 16px;
	}

	i{
		// opacity: 0.5;	
		display: inline-flex;
		margin-right: 8px;
		img{
			width: 25px;
		}
	}
	
	.active {
		background-color: #ffffff;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
		border-radius: 4px;
	}
	

	.badge {
		width: 10px;
		height: 10px;
		border-radius: 6px;
		background-color: white;
		position: relative;
		left: 6px;
	}
}




