
.tasks{
	&:not(:last-of-type){
		margin-bottom: 60px;
	}

	&__items{
		margin-top: 50px;

		h2{
			font-weight: 32px;
			font-size: 22px;
			color:#c9d1d3;
			text-align: center;
			position: absolute;
			left: 50%;
			top: 50%;
		}

	}

	&__form {
		margin-left: 13px;
		margin-top: 30px;
	}

}