.addTask{

	&__new{
		display: flex;
		align-items: center;
		cursor: pointer;
		opacity: 0.5;
		transition: opacity 0.15s ease-in-out;

		&:hover{
			opacity: 0.8;
		}
	}

	&__addSvg{
		width: 30px;
		height: 30px;
	}

	span{
		font-size: 17px;
		margin-left: 10px;
	}


	
	&__button{
		width: 100%;
		background-color: #292E33;
		border-radius: 4px;
		color: #fff;
		border: 0;
		padding: 10px 20px;
		cursor: pointer;
		font-size: 17px;

	
		&:hover{
			background-color: lighten(#292E33, 6%);
		}
	
		&:active{
			background-color: lighten(#292E33, 12%);
		}
		
		&_gray{
			background: gray;
		}
	
	}
}