*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: 'Montserrat Alternates' ,-apple-system, system-ui, sans-serif;
	// font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



// body {
// 	height: 100%;
// }

// #root{
// 	height: 100%;
// }

// .container{
// 	// height: 100%;
// 			max-width: 1000px;
// 			margin: 0 auto;
// 			padding: 0 15px;

// 			// display: 'flex';
// 			// align-items: 'center';
// 			// justify-content: 'center';
// 			// height: '100vh';
// // 		display: flex;
// // 		align-items: center; 
// // 		justify-content: center;
// }

.todo {




	// position:absolute;
	display: flex;
	left: 50%;
	top: 50%;
	max-width: 1000px;
	min-height: 600px;
	// width: calc(100vw-200px);
	// height: calc(100vh-100px);
	// transform: translate(-50%, -50%);
	margin: 100px auto;














	// // position:absolute;
	// display: flex;
	// // left: 50%;
	// // top: 50%;
	// // max-width: 1000px;
	// min-height: 600px;
	// // width: calc(100vw-200px);
	// // height: calc(100vh-100px);
	// // transform: translate(-50%, -50%);










	box-shadow: 1px 2px 20px #f3f3f3;
	border-radius: 10px;
	border: 1px solid #f1f1f1;
	font-size: 17px;
	// box-sizing: border-box;
	overflow: hidden;


	&__sidebar{
		position: relative;
		background-color: #8BD2CC;
		width: 250px;
		height: calc(100%-120px);
		border-right: 1px solid #8BD2CC;
		padding: 60px 20px;
		z-index: 2;

	}

	// &__sidebar::before{
	// 	background-color: red;
	// 	height: calc(100%-120px);
	// 	border-right: 1px solid #f1f1f1;
	// 	padding: 60px 20px;
	// 	width: 30px;
	// 	z-index:0;
	// }


	&__tasks{
		min-width: 749px;
		flex:1;
		padding: 60px;
		// overflow: auto;

	}

}

.sidebar__burger{
	display: none;
}



// .sidebar__body::before{
// 	position: absolute;
// 	width: 250px;
// 	background-color: red;
// 	z-index: 1;
// 	content: "";
// }

@media(max-width:768px){
	.sidebar__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.sidebar__burger span{
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
	}

	.sidebar__burger::before,
	.sidebar__burger::after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.sidebar__burger::before{
		top:0;
	}
	.sidebar__burger::after{
		bottom: 0;
	}


	.todo__sidebar{
		width: 30px;
	}
	

	.todo__sidebar.active{
		// position: absolute;
		// height: 100%;
		width: 180px;
	}


	.todo__tasks{
		// padding-left: 90px;
	}

	.todo__tasks.active{
		padding-left: 31px;
		height: 100%;
	}

	.todo{
		margin: 1px auto;
	}

	.sidebar__body{
		display: none;
	}

	.sidebar__body.active{
		display: block;
	}
}


.field {
	width: 100%;
	margin-bottom: 15px;
	background-color: #ffffff;
	border: 1px solid #efefef;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 8px 12px;
	width: 100%;
	font-size: 17px;
	&:focus{
		border-color: #dbdbdb;
	}
}

.button{
	width: 100%;
	background-color: #263f40;
	border-radius: 4px;
	color: #fff;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 17px;
	

	&:hover{
		background-color: lighten(#263f40, 6%);
	}

	&:active{
		background-color: lighten(#263f40, 12%);
	}

	&:disabled{
		background-color: #d8d8d8;
	}
}